{% extends "base.html" %}

{% block content %}

	{% if not update %}
		<form id="post-form" data-toggle="validator" role="forms" method="post" data-ready="1" data-blog-form="post-post-create">
			<div class="form-inline row">
				<div class="form-group col-xs-12">
					<h2>new post</h2>
	{% else %}
		<form id="post-form" data-toggle="validator" role="forms" method="post" data-ready="1" data-blog-form="post-post-update">
			<div class="form-inline row">
				<div class="form-group col-xs-12">
					<h2>update post</h2>
					<input type="hidden" name="post_id" value="{{ post_id }}" />
	{% endif %}
				</div>
			</div>

			<div class="form-inline row">
				<div class="error">
					{{ error }}
				</div>
			</div>
			<div class="form-inline row">
				<div class="form-group col-xs-12">
					<label for="post-subject">Subject*</label><br />
					<input name="subject" type="text" class="form-control" id="post-subject" data-error="Please enter a subject." placeholder="" value="{{ subject }}" required="required">
					<div class="help-block with-errors error-subject" data-blog-error="subject">{{ error_subject }}</div>
				</div>
			</div>
			<div class="form-inline row">
				<div class="form-group col-xs-6">
					<label for="post-cover">Cover image*</label><br />
					<input id="post-cover" type="file" class="form-control-upload" data-preview-file-type="image" data-blog-upload-url-source="{{ upload_url_source }}" accept="image/*" data-blog-upload-url="{{ upload_url }}">
	{% if cover_image_url %}
					<input type="hidden" id="post-cover-url" name="cover_image_url" value="{{ cover_image_url }}">
	{% else %}
					<input type="hidden" id="post-cover-url" name="cover_image_url" value="">
	{% endif %}
					<div class="help-block with-errors error-cover" data-blog-error="cover">{{ error_cover_image }}</div>
				</div>
				<div class="form-group col-xs-6">
					<label for="kontakt-nachricht">Summary*</label>
					<textarea name="summary" class="form-control form-control-textarea" id="post-summary" rows="3" data-error="Please insert a post summary." data-maxlength="2000" required="required">{{ summary }}</textarea>
					<small class="form-text text-muted">max. 500 characters</small>
					<div class="help-block with-errors error-summary" data-blog-error="summary">{{ error_summary }}</div>
				</div>
			</div>

			<div class="form-group">
				<label for="subject">Post*</label>
				<div class="help-block with-errors error-content" data-blog-error="content">{{ error_content }}</div>
				<textarea name="content" id="content" class="form-control-upload" data-blog-upload-url-source="{{ upload_url_source }}" data-blog-upload-url="{{ upload_url }}">{{ content }}</textarea>

			</div>

			<div class="form-inline row">
				<div class="form-group col-xs-12">
					<input type="submit" data-blog-control="post-post-create"/>
				</div>
			</div>

		</form>

{% if not update %}
    <a href="{{ url_prefix }}" data-blog-control="get-home">Cancel</a> and return to blog<br>
{% else %}
    <a href="{{ url_prefix }}post/{{ post_id }}" data-blog-control="get-post-view">Cancel</a> and return to post<br>
{% endif %}

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/fileinput.js"></script>
<script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
<script src="/js/main.js"></script>

{% endblock %}
