{% extends "base.html" %}

{% block content %}

<div class="post">
    <span style="float: right">{{post.created}}</span>
    <h2>{{post.subject}}</h2>
    <hr />
    <div style="clear: both;">{{post.content}}</div>
    <div>{{post.user.username}}</div>
</div>
<hr />

{% if post.user.username == username %}
<a href="{{url_prefix}}updatepost?post_id={{post.key().id()}}">update</a><br />
{% else %}
<form action="{{url_prefix}}like/{{post.key().id()}}" method="post">
	{% if user.liked_posts.filter('post = ',post.key()).count() == 1 %}
<button type="submit">Unlike!</button>
	{% else %}
<button type="submit">Like!</button>
	{% endif %}
</form>
{% endif %}

<a href="{{url_prefix}}">back</a><br />
<a href="{{url_prefix}}newpost">new post</a>

{% endblock %}
