{% extends "base.html" %}

{% block content %}

			<h3><i class="icon-position-before icon-user"></i>Log in</h3>

			<hr>

			<form data-toggle="validator" role="forms" id="form-login" method="post" data-blog-form="post-login">

	{% if error %}

				<div class="form-inline row">
					<div class="form-group col-xs-12">
						<div class="help-block with-errors has-error" data-blog-error="general">{{ error }}</div>
					</div>
				</div>

	{% endif %}

				<div class="form-inline row">
					<div class="form-group col-xs-12">
						<label for="post-username">Username*</label><br />
						<input maxlength="{{ config.input_requirements.username.max }}" name="username" type="text" class="form-control" id="post-username" data-error="Please enter a username." placeholder="" value="{{ username }}" required="required">
						<div class="help-block with-errors error-username {% if error_username %}has-error{% endif %}" data-blog-error="username">{{ error_username }}</div>
					</div>
				</div>

				<div class="form-inline row">
					<div class="form-group col-xs-12">
						<label for="post-password">Password*</label><br />
						<input type="password" maxlength="{{ config.input_requirements.password.max }}" name="password" class="form-control" id="post-password" data-error="Please enter a password." placeholder="" value="" required="required">
						<div class="help-block with-errors error-password {% if error_password %}has-error{% endif %}" data-blog-error="password">{{ error_password }}</div>
					</div>
				</div>

				<div class="form-inline row">
					<div class="form-group col-xs-12">
						<button type="submit" class="btn btn-primary" data-blog-control="post-login">Login</button>
						<a href="{{ config.blog_prefix }}" data-blog-control="get-home"><button type="button" class="btn btn-link" data-blog-control="post-signup">Cancel</button></a>
					</div>
				</div>

			</form>

			<hr>{{ error }}

			<p>No account yet? <a href="{{ config.blog_prefix }}signup" data-blog-control="get-login">Sign up right away!</a></p>

{% endblock %}
