body {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
}

.udpy-blog {
	a,
	button,
	button.btn {
		&,
		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
			border: 0;
			outline: none;
		}
	}
}

.error {
	color: red;
}

#header,
#footer {
	.logo {
		& > a,
		& > a:active,
		& > a:hover,
		& > a:focus {
			color: #000;
			text-shadow: -1px -1px 4px #fff,1px 1px 4px #fff,1px 1px 1px #fff;
		}
	}
}

#header .navbar-toggle .icon-bar {
	background-color: #fff;
}

#editor {
	overflow: scroll;
	max-height: 300px;
}

.post-cover-summary {
	overflow: hidden;
}

.form-control-textarea {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

.post-cover-image {
	background: url(https://lorempixel.com/400/400/?random);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 150px;
	min-height: 150px;
	background-position: top left;
}

.post-cover-options {
	float: left;
	margin-right: 6px;
}

.post-cover-image-wrapper
{
	width: 150px;
	height: 150px;
	overflow: hidden;
	
	.button-icon {
		float: left;
	}

}

.file-preview-image {
	width: 90%;
	height: auto;
}

.post-summary {
	padding-top: 5px;
	font-size: 12px;
	vertical-align: bottom;
}

.post-date
{
	font-size: 10px;
	float: right;
}

.post-full .post-date {
	font-size: 12px;
	float: none;
}

.clearer {
	clear: both;
}

.post form {
	display: inline-block;
}

.post-subject {
	clear: both;
}

@media screen and (max-width: @screen-xs-max) {
	.post-cover-image {
	}
}

@media screen and (min-width: @screen-sm-min) {
	.post-subject {
		height: 57px; 
		overflow: hidden;
	}
}

@media screen and (min-width: @screen-lg-min) {
	.post-summary {
		font-size: 14px;
		min-height: 50px;
		float: right;
	}

	.post-date
	{
		text-align: right;
	}
	
	.post-cover-image {
		background-position: top right;
		display: inline-block;
		width: 125px;
		height: 125px;
		float: left;
		min-width: 0;
		min-height: 0;
	}

	.post-header {
		padding-left: 5px;
		display: inline-block;
		width: 165px;
		height: 165px;
	}
}

.button-icon,
.button-icon:focus,
.button-icon:active
{
	outline: none;
	width: auto;
	padding: 0 6px 0 0;
	border: 0;
	display: inline;
	font-size: 11px;
	background-color: transparent;
}

.button-icon:before {
	font-size: 11px;
	font-family: FontAwesome;
	padding-right: 5px;
}

.button-icon-un-like:before,
.button-icon-like:before {
	content: "\f08a";
}

.button-icon-comments:before {
	content: "\f0e5";
}

.button-icon-more:before {
	content: "\f0a9";
}

.button-icon-arrow-left:before {
	content: "\f060";
}

.post-button-wrapper,
.post-button-wrapper:hover,
.post-button-wrapper:active {
	border: none;
}

.post-button-wrapper {
	color: inherit;
	transition: color 0.5s ease;
}

.button-icon:hover,
.button-icon-wrapper:active {
	color: red;
	transition: color 0.5s ease;
}
 
.post a,
.post a:focus {
	border: 0;
	text-decoration: none;
	outline: none;
}

.post {
	padding-bottom: 25px;
}
.post .well {
	height: 100%;
}

.form-inline .form-control {
	width: 100%;
}

.post-full .post-actions {
}

.post-full .post-author {
	float: none;
	font-style: italic;
}

.post-full .post-subject {
	display: inline;
	margin-bottom: 10px;
	height: auto;
}

.header-icon:before {
	font-family: FontAwesome;
	padding-right: 15px;
}

.header-icon-comments:before {
	content: "\f0e5";
}

.header-icon-user:before {
	content: "\f007";
}

.comment-actions form {
	display: inline;
}

.comment {
	border-top: 1px solid #eee;
	padding-top: 20px;
}

#header .navbar-nav>li>a {
	color: #fff;
}

#header {
	color: #fff;
}

#header nav,
#footer {
	background: #000b1b; /* #E0EAFCfallback for old browsers */
	background: -webkit-linear-gradient(to left, #cfdef3, #000b1b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #cfdef3, #000b1b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer {
	color: #000;
	padding-top: 30px;
}

#footer .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#footer .row {
    margin-bottom: 60px;
}

#footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer .social-networks a:hover {
    text-decoration: none;
}

#footer .facebook:hover {
    color: #0077e2;
}

#footer .google:hover {
    color: #ef1a1a;
}

#footer .twitter:hover {
    color: #00aced;
}

#footer .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #footer {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#footer{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
   margin-top: 40px;
}

.icon-position-before {
	margin-right: 6px;
}
.icon-position-after {
	margin-left: 6px;
}