body {
	background: #005C97; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
}

.error {
	color: red;
}

input {
	color: #005C97;
}

#editor {
	overflow: scroll;
	max-height: 300px;
}

.form-control-textarea {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Indie Flower', cursive;
}

.form-inline .form-control,
button{
	width: 100%;
}

.post-cover-image {
	background: url(https://placehold.it/400x400);
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 200px;
	min-height: 200px;
	overflow: hidden;
	background-position: top left;
}

.file-preview-image {
	width: 90%;
	height: auto;
}

.post-summary {
	font-size: 14px;
	overflow: hidden;
}

.post-date
{
	font-size: 10px;
}

.clearer {
	clear: both;
}

@media screen and (max-width: @screen-sm-max) {
	.post-cover-image {
	}
}

@media screen and (min-width: @screen-lg-min) {
	.post-summary {
		font-size: 14px;
		min-height: 50px;
	}

	.post-date
	{
		text-align: right;
	}
	
	.post-cover-image {
		background-position: top right;
		display: inline-block;
		width: 165px;
		height: 165px;
		float: left;
		min-width: 0;
		min-height: 0;
	}

	.post-header {
		padding-left: 5px;
		display: inline-block;
		width: 165px;
		height: 165px;
		float: right;
	}
}


.post-un-like-button,
.post-like-button {
	padding: 0;
	border: 0;
	&:focus,
	&:active {
		padding: 0;
		border: 0;
	}
}

.post-un-like-button:before,
.post-like-button:before {
	font-family: FontAwesome;
	content: "\f08a";
}

.post-comments:before {
	font-family: FontAwesome;
	content: "\f0e5";
}
