.error {
	color: red;
}

#editor {
	overflow: scroll;
	max-height: 300px;
}

.form-control-textarea {
	display: block;
}

.form-inline .form-control,
button{
	width: 100%;
}

.cover-image {
	background: url(https://placehold.it/400x400);
	background-size: contain;
	background-repeat: no-repeat;
	min-width: 200px;
	min-height: 200px;
	float: left;
}

.file-preview-image {
	width: 90%;
	height: auto;
}